/*轮播图区*/
.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .content {
    position: relative;
    height: 500px;
    background-color: pink;
}

.banner .content .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 251px;
    height: 500px;
    background-color: #000000;
    opacity: 0.8;
}

.banner .content .left li {
    height: 50px;
    line-height: 50px;
}

.banner .content .left li:hover {
    background-color: #27ba9b;
}

.banner .content .left li a {
    display: block;
    position: relative;
    padding-left: 36px;
    padding-right: 19px;
    color: white;
    font-size: 16px;
}

.banner .content .left li a span {
    margin-left: 15px;
    color: white;
    font-size: 14px;
}

.banner .content .left li a::after {
    position: absolute;
    content: " ";
    right: 19px;
    top: 19px;
    width: 6px;
    height: 11px;
    background-image: url('../images/sprites.png');
    background-position: -80px -110px;
}

.banner .content .bg-img {

}

.banner .content .prev,
.banner .content .next {
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: #000000;
    opacity: 0.2;
    border-radius: 23px;
    background-image: url('../images/sprites.png');
}

.banner .content .prev {
    left: 260px;
    background-position: 14px -59px;
}

.banner .content .next {
    right: 10px;
    background-position: -22px -59px;

}

.banner .content ol {
    position: absolute;
    top: 460px;
    left: 680px;
}

.banner .content ol li {
    float: left;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.43;
    border-radius: 50%;
    cursor: pointer;
}

.banner .content ol .current {
    opacity: 1;
}

/*新鲜好物*/
.goods {
    margin: 48px auto;
    height: 471px;
}

.goods .hd {
    height: 30px;
}

.goods .hd h2 {
    float: left;
    margin-right: 34px;
    height: 29px;
    line-height: 29px;
    font-family: PingFangSC-Regular;
    font-size: 29px;
}

.goods .hd .sf {
    padding-top: 11px;
    height: 16px;
    line-height: 16px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
}

.goods .hd span{
    float: left;

}

.goods .hd a {
    float: right;
}

.goods .bd{
    height: 405px;
}

.goods .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    margin-top: 37px;
    width: 304px;
    height: 404px;
    background-color: #f0f9f4;
    text-align: center;
}

.goods .bd li:last-child {
    margin-right: 0;
}

.goods .bd li img {
    width: 304px;
    height: 304px;
}

.goods .bd li .name {
    text-align: center;
    margin-top: 22px;
    height: 20px;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #333333;
}

.goods .bd li .price {
    margin-top: 19px;
    height: 17px;
    line-height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #9a2e1f;
}

.goods .bd li .price span {
    font-size: 14px;
}

.goods .bd li .new-goods {
    position: absolute;
    top: 18px;
    left: 17px;
    padding-top: 7px;
    width: 28px;
    height: 51px;
    line-height: 18px;
    border: 2px solid #27ba9b;
    border-radius: 7%;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #27ba9b;
}

.foods {
    height: 673px;
}

.foods .hd {
    height: 28px;
}

.foods .hd h2 {
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: PingFangSC-Regular;
    font-size: 29px;
}

.foods .hd .more {
    float: right;
    margin-left: 65px;
    margin-top: 9px;
    height: 16px;
    line-height: 16px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
}

.foods .hd .more::after {
    float: right;
    display: inline-block;
    content: '';
    margin-top: 2px;
    margin-left: 15px;
    width: 7px;
    height: 13px;
    background-image: url('../images/sprites.png');
    background-position: 0 -110px;
}

.foods .hd li {
    float: right;
    margin-top: 6px;
    margin-left: 6px;
    height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
}

.foods .hd li a {
    padding: 2px 7px;
    height: 20px;
    line-height: 16px;
    text-align: center;
}

.foods .hd li a:hover {
    background-color: #27ba9b;
    color: #fefbfc;
}


.foods .bd {
    margin-top: 34px;
    height: 610px;
}

.foods .bd .left {
    float: left;
    width: 240px;
    height: 610px;
    background-image: url('../uploads/fresh_left.png');
}

.foods .bd .right {
    float: right;
    width: 1000px;
    height: 610px;
}

.foods .bd .right li {
    float: left;
    padding: 8px 28px 17px;
    width: 242px;
    height: 304px;
    margin-left: 8px;
}


.foods .bd .right li a {

}

.foods .bd .right li a img {
    display: block;
    width: 184px;
    height: 184px;
    margin-bottom: 10px;
}

.foods .bd .right li a .intro {
    font-family: PingFangSC-Regular;
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 15px;
}

.foods .bd .right li a .price {
    font-family: PingFangSC-Medium;
    line-height: 22px;
    font-size: 22px;
    color: #9a2e1f;
}

.foods .bd .right li a .price span {
    font-size: 17px;
}